<h1>Hi Maam/Sir, this is where you create a homework for a section</h1>
<h1>name of the students are rendered automatically</h1>

<%= javascript_pack_tag 'new_requirement', 'data-turbolinks-track': 'reload' %>