.bg-register-image {
    background: image-url('teacher-signup.svg');
    background-color: lightblue;
}

.bg-login-image {
    background: image-url('teacher-login.svg');
    background-color: lightblue;
}
