.bg-register-image {
    // background: #4E73DF;
    background: url('teacher-signup.svg');
    background-color: lightblue;
}

.bg-login-image {
    // background: #4E73DF;
    background: url('teacher-login.svg');
    background-color: lightblue;
}
